body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://scontent.fuln2-2.fna.fbcdn.net/v/t39.30808-6/339575333_567184315386795_3660268917676612679_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=na-9j5ihfx8Ab6PSHzm&_nc_ht=scontent.fuln2-2.fna&oh=00_AfAxZHyDptm5K8UR7Ktku2LUoIoMz9tOe6INzyZ4xzc_NA&oe=661A8392') no-repeat center center fixed;
    background-size: cover;
    overflow-y: scroll;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#logo {
    width: 150px;
    height: auto;
}

#introduction {
    flex-grow: 1;
}

.word-info {
    margin-top: 20px;
}

.word-info p {
    margin-bottom: 5px;
}

#search-history {
    margin-top: 20px;
}

#search-history-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.left-half {
    width: 60%;
    float: left;
    padding-right: 20px;
}

.right-half {
    width: 40%;
    float: left;
}

input[type="text"] {
    width: calc(100% - 85px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.search-results {
    margin-top: 20px;
}

.favorites {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

/* Additional styles can be added here */
